{% extends '../base.html' %}
{% load static %}

{% block title %}
SajadGram | Change Password
{% endblock title %}


{% block content-header %}
Change Password
{% endblock content-header %}


{% block content %}

{% if form.non_field_errors %}
<div class="card card-danger">
    <div class="card-header">
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
            </button>
        </div>
        <h3 class="card-title">From Errors</h3>
    </div>
    <div class="card-body">
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}

    </div>
</div>
{% endif %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="card-body">
        <!-- OLD PASSWORD SECTION -->
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-6 mb-3">
                    <label for="id_email">Old Password</label>
                    {{form.old_password}}
                    {% if form.old_password.errors %}
                    <blockquote class="quote-danger ml-0 mt-1 bg-light mr-0">
                        {% for error in form.old_password.errors %}
                        <p>{{error}}</p>
                        {% endfor %}
                    </blockquote>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- NEW PASSWORD AND CONFIRM PASSWORD SECTION -->
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-6 mb-3">
                    <label for="id_first_name">New Password</label>
                    {{form.new_password1}}
                    {% if form.new_password1.errors %}
                    <blockquote class="quote-danger ml-0 mt-1 bg-light mr-0">
                        {% for error in form.new_password1.errors %}
                        <p>{{error}}</p>
                        {% endfor %}
                    </blockquote>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-6 mb-3">
                    <label for="id_last_name">Confirm Password</label>
                    {{form.new_password2}}
                    {% if form.new_password2.errors %}
                    <blockquote class="quote-danger ml-0 mt-1 bg-light mr-0">
                        {% for error in form.new_password2.errors %}
                        <p>{{error}}</p>
                        {% endfor %}
                    </blockquote>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card-footer bg-light">
            <button type="submit" class="btn btn-primary col-sm-4 col-md-4 col-lg-2">Change</button>
        </div>
    </div>
</form>
{% endblock content %}