{% extends '../before-login-forms-base.html' %}
{% load static %}

{% block title %}SajadGram | Login{% endblock title %}

{% block content %}
<p class="login-box-msg">Login to start your session</p>
{% if form.non_field_errors %}

<div class="card bg-danger mb-3">
    <div class="card-body">
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
    </div>
</div>

{% endif %}
<form method="post">{% csrf_token %}
    <div class="input-group mb-3">
        {{form.username}}
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        {{form.password}}
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
    </div>
</form>
<div class="social-auth-links text-center mb-3">
    <p>- OR -</p>
</div>

<div class="social-auth-links text-center mt-2 mb-3">
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-danger">
        <i class="fab fa-google mr-2"></i> Login/Signup with Google
    </a>
</div>

<p class="mb-1">
    <a href="{% url 'account:reset-password' %}">I forgot my password</a>
</p>
<p class="mb-0">
    <a href="{% url 'account:signup' %}" class="text-center">I don't have account</a>
</p>
{% endblock content %}