{% load show_profile_photo %}
{% for account in accounts %}
<a class="text-dark" href="{% url 'account:profile' username=account.username %}">
    <div class="list-group-item">
        <div class="row">
            <div class="w-25 col-xl-1">
                {% show_profile_photo account "img-fluid img-circle" "User Avatar" %}
            </div>
            <div class="col px-4">
                <div>
                    <h3>{{account.username}}</h3>
                    <p class="mb-1">
                        {% if account.get_full_name %}
                        {{account.get_full_name}}
                        {% else %}
                        full name
                        {% endif %}
                    </p>
                    <p class="mb-0">
                        {% if account.bio %}
                        {{account.bio}}
                        {% else %}
                        Bio
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</a>
{% endfor %}