{% extends '../../before-login-forms-base.html' %}
{% load static %}

{% block title %}SajadGram | Reset Password{% endblock title %}

{% block content %}
<p class="login-box-msg">Reset your password</p>

{% if form.non_field_errors %}
<div class="card card-danger">
    <div class="card-body">
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
    </div>
</div>
{% endif %}
<form method="post">{% csrf_token %}
    <div class="input-group mb-3">
        {{form.email}}
        {% if form.email.errors %}
        <div class="callout callout-danger col-12 mt-2">
            {% for error in form.email.errors %}
            <p>{{error}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Send Email</button>
        </div>
    </div>
</form>
{% endblock content %}


{% block end-body %}

{% if messages %}
<script>
    $(document).Toasts('create', {
        class: 'bg-success',
        title: "Email Successfully Send ",
        subtitle: ' ',
        body: '{% for message in messages %} {{message}}<br />{% endfor %}'
    });
</script>
{% endif %}

{% endblock end-body %}