{% extends "../../before-login-forms-base.html" %}
{% load static %}


{% block title %}SajadGram | Resetting Password{% endblock title %}


{% block content %}
{% if validlink and not messages %}
<p class="login-box-msg">Please enter your new password twice</p>

{% if form.non_field_errors %}
<div class="card card-danger">
    <div class="card-body">
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
    </div>
</div>
{% endif %}
<form method="post">{% csrf_token %}
    <div class="input-group mb-3">
        {{form.new_password1}}
        {% if form.new_password1.errors %}
        <div class="callout callout-danger col-12 mt-2">
            {% for error in form.new_password1.errors %}
            <p>{{error}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="input-group mb-3">
        {{form.new_password2}}
        {% if form.new_password2.errors %}
        <div class="callout callout-danger col-12 mt-2">
            {% for error in form.new_password2.errors %}
            <p>{{error}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Set password</button>
        </div>
    </div>
</form>

{% elif messages %}
<p class="login-box-msg">You can <a href="{% url 'account:login' %}">login</a> with your new
    password.</p>
{% else %}

<p class="login-box-msg">The password reset link was invalid, possibly because it has already been used. Please request
    a new password reset.
</p>

{% endif %}

{% endblock %}

{% block end-body %}
{% if messages %}
<script>
    $(document).Toasts('create', {
        class: 'bg-success',
        title: "Password Successfully Changed ",
        subtitle: ' ',
        body: '{% for message in messages %} {{message}}<br />{% endfor %}'
    });
</script>
{% endif %}
{% endblock end-body %}