.profile-photo {
    width: 20% !important;
    margin-left: 40% !important;
    left: auto !important;
}

.profile-photo-img{
    width: 100% !important;
}

.counter-links {
    color: black !important;
}