{% extends '../base.html' %}
{% load show_profile_photo %}

{% block title %}
SajadGram | Show Post
{% endblock title %}

{% block content-header %}
{% endblock content-header %}


{% block content %}
{% csrf_token %}
<div class="col-md-8 col-sm-12 col-lg-5">
    <div class="card card-widget">
        <div class="card-header">
            <div class="user-block">

                {% show_profile_photo post.user "img-circle img-fluid" "User Avatar" %}
                <span class="username"><a
                        href="{% url 'account:profile' username=post.user.username %}">{{post.user.username}}</a></span>
                <span class="description">{{post.created_time}}</span>
            </div>
        </div>
        <div class="card-body">
            <img class="img-fluid pad" src="{{post.media.url}}" alt="Photo">

            <p class="mt-2">{{post.caption}}</p>
            <button type="button" class="btn btn-default btn-sm" id="save">

                {% if is_saved %}
                <i class="fas text-primary fa-bookmark nav-icon"></i> Saved
                {% else %}
                <i class="far fa-bookmark nav-icon"></i> Save
                {% endif %}
            </button>
            <button type="button" class="btn btn-default btn-sm" id="like">
                {% if is_liked %}
                <i class="fas fa-thumbs-up text-primary"></i> Liked
                {% else %}
                <i class="far fa-thumbs-up"></i> Like
                {% endif %}
            </button>
            <span class="float-right text-muted"><span id="liked_count">{{liked_count}}</span> likes -
                {{comments.count}} comments</span>
        </div>
        <div class="card-footer bg-white">
            <form method="post">
                {% csrf_token %}
                {% show_profile_photo post.user "img-fluid img-circle img-sm" "User Avatar" %}
                <div class="img-push">
                    {{form.text}}
                </div>
                <!-- <button class="btn btn-primary mt-3 col-12 btn-sm" type="submit">Send</button> -->
            </form>
        </div>

        <div class="card-footer card-comments">
            {% for comment in comments %}

            <div class="card-comment">
                <a href="{% url 'account:profile' username=comment.user.username %}">
                    {% show_profile_photo comment.user "img-circle img-sm" "User Avatar" %}
                </a>
                <div class="comment-text">
                    <span class="username">
                        <a href="{% url 'account:profile' username=comment.user.username %}">
                            {{comment.user.username}}
                        </a>
                        <span class="text-muted float-right">{{comment.created_time}}</span>
                    </span>
                    {{comment.text}}
                </div>
            </div>
            <form method="post">
                <input type="text" name="text" placeholder="write your reply and press enter ..."
                    class="form-control form-control-sm" required="" id="id_text">
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <!-- <input class="btn btn-primary mt-3 col-12 btn-sm" type="submit" value="Replay"> -->
            </form>
            {% for replay in comment.replies.all %}
            <div class="card-comment p-2 pl-5 bg-white">
                <a href="{% url 'account:profile' username=replay.user.username %}">
                    {% show_profile_photo replay.user "img-circle img-sm" "User Avatar" %}
                </a>
                <div class="comment-text">
                    <span class="username">
                        <a href="{% url 'account:profile' username=replay.user.username %}">{{replay.user.username}}</a>
                        <span class="text-muted float-right">{{replay.created_time}}</span>
                    </span>
                    {{replay.text}}
                </div>
            </div>
            {% endfor %}

            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}


{% block end-body %}

<script>
    $("#save").click(function () {
        $.ajax({
            url: "{% url 'post:save' %}",
            type: 'post',
            data: {
                "display_name": "{{post.display_name}}"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            },
            success: function (data) {
                if (data === "True") {
                    $("#save").html('<i class="fas text-primary fa-bookmark nav-icon"></i> Saved')
                } else {
                    $("#save").html('<i class="far fa-bookmark nav-icon"></i> Save')
                }
            }
        });
    });
    $("#like").click(function () {
        $.ajax({
            url: "{% url 'post:like' %}",
            type: 'post',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            },
            data: {
                "display_name": "{{post.display_name}}"
            },
            success: function (data) {
                if (data === "True") {
                    $("#like").html('<i class="fas fa-thumbs-up text-primary"></i> Liked')
                    var liked_count = Number($("#liked_count").text())
                    $("#liked_count").text(String(++liked_count))
                } else {
                    $("#like").html('<i class="far fa-thumbs-up"></i> Like')
                    var liked_count = Number($("#liked_count").text())
                    $("#liked_count").text(String(--liked_count))
                }
            }
        });

    });
</script>
{% endblock end-body %}